.header {
  padding: 17px 0;
  border-bottom: 1px solid #d6d6d6;
}
.header-row {
  display: flex;
  align-items: center;
}

.header-nav {
  &__link {
    color: var(--nav-text);
    font-weight: 500;
    transition: color 0.2s ease;
  }
  &__link--active {
    color: var(--nav-active);
    font-weight: 700;
  }
  &__link:active {
    opacity: 0.8;
  }
  &__link:hover {
    color: var(--nav-hover);
  }
}

.header-nav {
  margin-left: 172px;
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 70px;
  }
}

.header-login {
  display: flex;

  align-items: center;
  column-gap: 35px;
  margin-left: auto;
  &__auth {
    color: var(--login-text);
    transition: color 0.2s ease;
  }
  &__auth:hover {
    color: var(--btn-hover);
  }
}

@media (max-width: 1280px) {
  .header-row {
    justify-content: space-between;
  }

  .header-nav {
    margin-left: 30px;

    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }

  .header-login {
    margin-left: 30px;
  }
}

@media (max-width: 1032px) {
  .header-nav,  .header-login {
    display: none;

  }
}
