.story {
  background-color: var(--story-background);
  padding: 229px 0 176px;
  color: var(--story-text);

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    margin-right: 30px;
    max-width: 580px;
  }

  &__title {
    padding-bottom: 33px;
    font-size: 50px;
    line-height: 157%;
    font-weight: 700;
    font-family: 'Georgia', serif;
  }

  &__text {
    margin-bottom: 57px;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
  }

  &__btn {
    display: flex;
  }
  &__video {
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    max-width: 895px;
  }

  &__video-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__vidio-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 1199px) {
  .story {
    padding: 85px 0 100px;
    &__row {
      flex-direction: column-reverse;
    }
    &__content {
      margin-top: 50px;
      margin-right: 0;
    }
    &__text {
      margin-bottom: 40px;
    }
  }
}
@media (max-width: 991px) {
  .story {
    padding: 40px 0 50px;

    &__title {
      font-size: 30px;
      line-height: 120%;
    }
    &__content {
      margin-top: 30px;
      
    }
    &__text {
      margin-bottom: 20px;
      font-size: 15px;
    }
  }
}
