@import './Layout/Header/header.scss';
@import './Layout/Footer/footer.scss';
@import './reset.css';
@import './fonts/Lato/stylesheet.css';
@import './fonts/Georgia/stylesheet.css';

:root{
    /* Colors */
    --white: #fff;
    --green: #01996D;
    --jungle-green: #245852;
    --black: #000;
    --dark-char: #292929;
    --gray: #484848;
    --shadow-gray: #424242;
    --light-gray: #d6d6d6;
    --green-light:rgba(1, 153, 109, 0.2);

    /* Header */
    --nav-bg: var(--white);
    --nav-text:var(--dark-char);
    --login-text:var(--black);
    --nav-active: var(--green);
    --nav-hover: var(--green);
    --border-bottom: var(--light-gray);

    /* Button */
    --btn-color: var(--green);
    --btn-text:var(--white);
    --btn-hover: var(--green);

    --text-color:var(--black);

    /* Home */
    --title-color: var(--green);
    --home-text: var(--gray);

    /* Steps */
    --step-title:var(--black);
    --step-text:var(--shadow-gray);
    --step-number:var(--green-light);
    /* title */
    --title-color: var(--green);

    /* Story */
    --story-background: var(--jungle-green);
    --story-text:var(--white);
}

body,html{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color);
}
/* Buttons */
/* Syandard button */
.btn, a.btn {
    min-height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: var(--btn-color);
    padding: 0 50px;
    color: var(--btn-text);
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
    transition: 0.2s ease;
  }
  .btn:hover {
    opacity: 0.8;
  }

  /* Big buttons */
  .btn-big a.btn-big{
    min-height: 65px;
}

/* Utility */

.none {
    display: none !important;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1400px;
}

.visually-hidden{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}