.footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  padding: 104px 0 144px;
  &__content {
  }

  &__logo {
    margin-bottom: 74px;
  }

  &__nav {
    font-size: 25px;
    font-weight: 600;
  }
  c &__nav a {
    transition: 0.2s ease;
  }
  &__nav a:hover {
    opacity: 0.8;
  }

  &__link {
    color: var(--footer-text);
  }

  &__item:not(:last-child) {
    margin-bottom: 60px;
  }
}
